In [17]:
import pandas as pd
import numpy as np
import cufflinks as cf
import plotly.express as px
import matplotlib.pyplot as plt
import seaborn as sns

### Let's read the data

In [18]:
data = pd.read_csv('../Data/diamonds_train.csv')
data.head()

   carat        cut color clarity  depth  table  price     x     y     z
0   1.21    Premium     J     VS2   62.4   58.0   4268  6.83  6.79  4.25
1   0.32  Very Good     H     VS2   63.0   57.0    505  4.35  4.38  2.75
2   0.71       Fair     G     VS1   65.5   55.0   2686  5.62  5.53  3.65
3   0.41       Good     D     SI1   63.8   56.0    738  4.68  4.72  3.00
4   1.02      Ideal     G     SI1   60.5   59.0   4882  6.55  6.51  3.95

In [36]:
cut = data['cut'].value_counts()
cut

Ideal        16220
Premium      10260
Very Good     9095
Good          3663
Fair          1217
Name: cut, dtype: int64

In [38]:
color = data['color'].value_counts()
color

G    8455
E    7325
F    7177
H    6277
D    5049
I    4032
J    2140
Name: color, dtype: int64

In [21]:
data.pivot_table(index=['color'], aggfunc='mean')

,carat,depth,price,table,x,y,z
color,,,,,,,
D,0.653036,61.721886,3134.943157,57.344959,5.404704,5.409541,3.336782
E,0.658835,61.659836,3088.342526,57.494567,5.413894,5.418651,3.338709
F,0.731503,61.689954,3677.355720,57.409726,5.601393,5.607254,3.455930
G,0.774382,61.752785,4023.214902,57.287889,5.684102,5.687183,3.508856
H,0.910355,61.827481,4476.469014,57.533503,5.981431,5.984082,3.693629
I,1.026791,61.873214,5090.868800,57.562574,6.216099,6.215675,3.842078
J,1.166500,61.909626,5346.234112,57.790701,6.527285,6.525570,4.039879

In [39]:
data.pivot_table(index=['color'], aggfunc='min')

       carat clarity   cut  depth  price  table     x     y     z
color
D       0.20      I1  Fair   54.2    357   52.0  3.77  3.72  2.29
E       0.20      I1  Fair   53.3    326   44.0  3.79  3.75  2.06
F       0.22      I1  Fair   52.3    342   50.0  0.00  0.00  0.00
G       0.23      I1  Fair   43.0    354   52.0  0.00  0.00  0.00
H       0.23      I1  Fair   52.7    337   50.0  0.00  0.00  0.00
I       0.23      I1  Fair   55.3    334   43.0  3.94  3.90  0.00
J       0.23      I1  Fair   43.0    335   52.0  3.93  3.90  2.46

In [26]:
data.pivot_table(index=['color'], aggfunc='max')

       carat clarity        cut  depth  price  table      x      y     z
color
D       3.40    VVS2  Very Good   71.6  18693   73.0   9.42   9.34  6.27
E       3.05    VVS2  Very Good   79.0  18731   73.0   9.26   9.25  5.66
F       3.01    VVS2  Very Good   71.0  18791   95.0   9.24   9.13  5.73
G       3.01    VVS2  Very Good   72.9  18818   76.0   9.44   9.37  6.16
H       4.13    VVS2  Very Good   71.8  18795   73.0  10.00  58.90  8.06
I       4.01    VVS2  Very Good   71.3  18823   70.0  10.14  10.10  6.31
J       4.50    VVS2  Very Good   73.6  18710   68.0  10.23  10.16  6.72

In [40]:
data.pivot_table(index=['color'], aggfunc='median')

       carat  depth   price  table     x      y     z
color
D       0.53   61.8  1820.0   57.0  5.22  5.230  3.22
E       0.53   61.8  1735.0   57.0  5.23  5.240  3.22
F       0.70   61.8  2312.0   57.0  5.62  5.620  3.46
G       0.70   61.8  2262.0   57.0  5.65  5.640  3.49
H       0.90   61.9  3447.0   57.0  6.15  6.150  3.82
I       1.00   62.0  3709.5   57.0  6.34  6.345  3.93
J       1.12   62.0  4268.5   58.0  6.66  6.660  4.12